@import "../../styles/colours.scss";

.main {
  max-width: 1080px;
  margin: 60px auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
