@import "../../../styles/colours.scss";

.locationInfo {
  text-align: center;

  h1, h2 {
    color: $textWhite;
    padding: 10px 0;
    letter-spacing: 1px;
  }

  h1 {
    font-weight: lighter;
    font-size: 40px;
  }

  h2 {
    font-weight: lighter;
  }
}
