@import "../../../styles/colours.scss";

.searchForm {
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;

    input, button {
      border: 1px solid transparent;
      border-radius: 3px;
      padding: 15px;
      width: 50%;
    }

    input {
      // background-color: $textWhite;
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
      margin: 0 5px;
    }

    button {
      background-color: $red;
      width: 60px;
      cursor: pointer;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;

      &:hover{
        // background-color: $textWhite;
        // background-image: linear-gradient(to right, $red 0%, #eb8990 100%);
        color: $textWhite;
      }
    }
  }
