@import "../../../styles/colours.scss";

.cities {
  display: flex;
  justify-content: center;
  list-style-type: none;

  li {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;

    &.selected, &:hover{
      color: $red;
    }
  }
}
